### RFM ile Müşteri Segmentasyonu (Customer Segmentation with RFM)
#### İş Problemi (Business Problem)
 - FLO müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
 - Buna yönelik olarak müşterilerin davranışları tanımlanacak ve bu davranış öbeklenmelerine göre gruplar oluşturulacak..

#### Veri Seti Hikayesi
###############################################################

- Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından elde edilen bilgilerden oluşmaktadır.
    - master_id: Eşsiz müşteri numarası
    - order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
    - last_order_channel : En son alışverişin yapıldığı kanal
    - first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
    - last_order_date : Müşterinin yaptığı son alışveriş tarihi
    - last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
    - last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
    - order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
    - order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
    - customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
    - customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
    - interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

### GÖREV 1: Veriyi Anlama (Data Understanding) ve Hazırlama
           # 1. flo_data_20K.csv verisini okuyunuz.
           # 2. Veri setinde
                     # a. İlk 10 gözlem,
                     # b. Değişken isimleri,
                     # c. Betimsel istatistik,
                     # d. Boş değer,
                     # e. Değişken tipleri, incelemesi yapınız.
           # 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
           # alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.
           # 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.
           # 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.
           # 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.
           # 7. En fazla siparişi veren ilk 10 müşteriyi sıralayınız.
           # 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

### GÖREV 2: RFM Metriklerinin Hesaplanması

### GÖREV 3: RF ve RFM Skorlarının Hesaplanması

### GÖREV 4: RF Skorlarının Segment Olarak Tanımlanması

### GÖREV 5: Aksiyon zamanı!
           # 1. Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.
           # 2. RFM analizi yardımı ile 2 case için ilgili profildeki müşterileri bulun ve müşteri id'lerini csv ye kaydediniz.
                   # a. FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri tercihlerinin üstünde. Bu nedenle markanın
                   # tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak iletişime geçeilmek isteniliyor. Sadık müşterilerinden(champions,loyal_customers),
                   # ortalama 250 TL üzeri ve kadın kategorisinden alışveriş yapan kişiler özel olarak iletişim kuralacak müşteriler. Bu müşterilerin id numaralarını csv dosyasına
                   # yeni_marka_hedef_müşteri_id.cvs olarak kaydediniz.
                   # b. Erkek ve Çoçuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen geçmişte iyi müşteri olan ama uzun süredir
                   # alışveriş yapmayan kaybedilmemesi gereken müşteriler, uykuda olanlar ve yeni gelen müşteriler özel olarak hedef alınmak isteniliyor. Uygun profildeki müşterilerin id'lerini csv dosyasına indirim_hedef_müşteri_ids.csv
                   # olarak kaydediniz.


### GÖREV 6: Tüm süreci fonksiyonlaştırınız.

## GÖREV 1: Veriyi Anlama (Data Understanding) ve Hazırlama

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [4]:
# Veri setinin dosya yolu
file_path = '/Volumes/Mira/Miuul Bootcamp/FLOMusteriSegmentasyonu/flo_data_20k.csv'

# Veri setini pandas ile okuma
data = pd.read_csv(file_path)

#### DataFrame Kopyası Oluşturduk.

In [6]:
data_copy = data.copy()

#### 2. Veri setinde
 - a. İlk 10 gözlem,
 - b. Değişken isimleri,
 - c. Betimsel istatistik,
 - d. Boş değer,
 - e. Değişken tipleri, incelemesi yapınız.

In [8]:
# a. İlk 10 gözlem
first_10_observations = data_copy.head(10)
first_10_observations

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.000,2.000,150.870,49.990,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.000,1.000,59.990,315.940,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.000,1.000,49.990,113.640,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.000,2.000,120.480,934.210,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.000,1.000,69.980,95.980,"[KADIN, AKTIFSPOR]"

In [9]:
# b. Değişken isimleri
variable_names = data_copy.columns
variable_names

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [11]:
# c. Betimsel istatistik
descriptive_statistics = data_copy.describe().T
descriptive_statistics

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.000,3.111,4.226,1.000,1.000,2.000,4.000,200.000
order_num_total_ever_offline,19945.000,1.914,2.063,1.000,1.000,1.000,2.000,109.000
customer_value_total_ever_offline,19945.000,253.923,301.533,10.000,99.990,179.980,319.970,18119.140
customer_value_total_ever_online,19945.000,497.322,832.602,12.990,149.980,286.460,578.440,45220.130

In [12]:
# d. Boş değer
missing_values = data_copy.isnull().sum()
missing_values

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [13]:
# e. Değişken tipleri
data_types = data_copy.dtypes
data_types

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object

 ### 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.

In [15]:
# Her müşterinin toplam alışveriş sayısı
data_copy["total_order_num"] = data_copy["order_num_total_ever_online"] + data_copy["order_num_total_ever_offline"]

In [16]:
# Her müşterinin toplam harcaması
data_copy["total_customer_value"] = data_copy["customer_value_total_ever_online"] + data_copy["customer_value_total_ever_offline"]

In [18]:
# İlk 5 gözlemde bu yeni değişkenleri gösterelim
new_columns = data_copy[['master_id', 'total_order_num', 'total_customer_value']].head()
new_columns

                              master_id  total_order_num  total_customer_value
0  cc294636-19f0-11eb-8d74-000d3a38a36f            5.000               939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f           21.000              2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f            5.000               585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f            2.000               121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f            2.000               209.980

### 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

In [19]:
date_columns = ["first_order_date", "last_order_date", "last_order_date_online", "last_order_date_offline"]
data_copy[date_columns] = data_copy[date_columns].apply(pd.to_datetime)
data_copy.dtypes

master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
total_order_num                             float64
total_customer_value                        float64
dtype: object

### 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.

In [20]:
channel_analysis = data_copy.groupby("order_channel").agg(
    customer_count=("master_id", "count"),
    average_order_num=("total_order_num", "mean"),
    average_customer_value=("total_customer_value", "mean")
)
channel_analysis

               customer_count  average_order_num  average_customer_value
order_channel
Android App              9495              5.505                 823.493
Desktop                  2735              3.993                 588.783
Ios App                  2833              5.419                 891.634
Mobile                   4882              4.441                 620.275

### 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

In [21]:
top_10_customers = data_copy.sort_values(by="total_customer_value", ascending=False).head(10)
top_10_customers_result = top_10_customers[['master_id', 'total_order_num', 'total_customer_value']]
top_10_customers_result

,master_id,total_order_num,total_customer_value
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,202.000,45905.100
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,68.000,36818.290
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,82.000,33918.100
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,11.000,31227.410
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,4.000,20706.340
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,70.000,18443.570
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,70.000,16918.570
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,37.000,12726.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,131.000,12282.240
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,20.000,12103.150

### 7. En fazla siparişi veren ilk 10 müşteriyi sıralayınız.

In [22]:
top_10_order_customers = data_copy.sort_values(by="total_order_num", ascending=False).head(10)
top_10_order_customers_result = top_10_order_customers[['master_id', 'total_order_num', 'total_customer_value']]
top_10_order_customers_result

,master_id,total_order_num,total_customer_value
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,202.000,45905.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,131.000,12282.240
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,111.000,10383.440
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,88.000,8572.230
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,83.000,4240.360
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,82.000,33918.100
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,77.000,5184.050
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,75.000,5297.880
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,70.000,16918.570
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,70.000,18443.570

### 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

In [23]:
def data_preparation(df):
    """
    Veriyi hazırlama sürecini fonksiyon haline getiren fonksiyon.
    
    Args:
    df (DataFrame): İşlenecek veri seti.
    
    Returns:
    df (DataFrame): Hazırlanan ve işlenmiş veri seti.
    """
    # 1. Tarih değişkenlerini datetime formatına çevirme
    date_columns = ["first_order_date", "last_order_date", "last_order_date_online", "last_order_date_offline"]
    df[date_columns] = df[date_columns].apply(pd.to_datetime)
    
    # 2. Toplam alışveriş sayısı ve toplam harcama değişkenlerini oluşturma
    df["total_order_num"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
    df["total_customer_value"] = df["customer_value_total_ever_online"] + df["customer_value_total_ever_offline"]
    
    # 3. Eksik değer kontrolü ve gerekiyorsa düzenleme
    # Bu veri setinde eksik veri işlemi gerekmeyebilir ama genelde bir adım olarak eklenebilir.
    # df.fillna(0, inplace=True) # eksik değerleri 0 ile doldurma örneği
    
    return df

# Fonksiyonu uygulayarak veriyi tekrar hazırlayalım
prepared_data = data_preparation(data_copy)

# İlk 5 gözlem ile hazırlanan veri setini gözden geçirelim
prepared_data.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order_num,total_customer_value
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980

## Görev 2: RFM Metriklerinin Hesaplanması

### Adım 1: Recency, Frequency ve Monetary tanımlarını yapınız.

### 1. **Recency (Güncellik)**:
   - **Tanım**: Müşterinin en son alışveriş yaptığı tarihten bugüne kadar geçen süreyi ifade eder. Recency, bir müşterinin ne kadar "güncel" olduğunu gösterir. Pazarlamada, yakın zamanda alışveriş yapmış müşterilerin yeniden alışveriş yapma olasılığı daha yüksektir.
   - **Nasıl Hesaplanır?**: "Bugünün tarihi" ile müşterinin **son alışveriş tarihi** arasındaki fark gün olarak hesaplanır.
   - **Örnek**: Eğer bir müşteri 30 gün önce alışveriş yapmışsa, Recency değeri 30 olacaktır.

### 2. **Frequency (Sıklık)**:
   - **Tanım**: Müşterinin belirli bir zaman diliminde kaç kez alışveriş yaptığını ifade eder. Frequency, müşterinin şirkete ne kadar sadık olduğunu gösterir. Sıklık değeri yüksek olan müşteriler, daha sık alışveriş yapan ve markaya daha bağlı olan müşterilerdir.
   - **Nasıl Hesaplanır?**: Müşterinin **toplam alışveriş sayısı** ile hesaplanır. Bu veri genellikle online ve offline alışverişlerin toplamı ile elde edilir.
   - **Örnek**: Eğer bir müşteri belirli bir dönemde 10 kez alışveriş yapmışsa, Frequency değeri 10 olacaktır.

### 3. **Monetary (Para Değeri)**:
   - **Tanım**: Müşterinin yaptığı alışverişlerin toplam parasal değerini ifade eder. Monetary, müşterinin şirkete ne kadar kazanç sağladığını gösterir. Daha yüksek Monetary değeri, müşterinin daha fazla harcama yaptığını ve dolayısıyla şirket için daha değerli olduğunu gösterir.
   - **Nasıl Hesaplanır?**: Müşterinin **toplam harcaması** (online ve offline alışverişlerin toplamı) ile hesaplanır.
   - **Örnek**: Eğer bir müşteri toplamda 1.000 TL harcamışsa, Monetary değeri 1.000 olacaktır.

### Adım 2: Müşteri özelinde Recency, Frequency ve Monetary metriklerini hesaplayınız.

In [41]:
import datetime as dt

In [42]:
# Veri setindeki maksimum tarih
max_date = data_copy['last_order_date'].max()

In [43]:
# Analiz tarihini maksimum tarihten 2 gün sonrası olarak belirleme
today_date = max_date + dt.timedelta(days=2)

In [44]:
# Adım 2: Recency, Frequency ve Monetary hesaplama
data_copy['recency'] = (today_date - data_copy['last_order_date']).dt.days
data_copy['frequency'] = data_copy['total_order_num']
data_copy['monetary'] = data_copy['total_customer_value']

In [45]:
# 3. Monetary (Para Değeri): Müşterinin toplam harcaması (online ve offline harcamaların toplamı)
data_copy['monetary'] = data_copy['total_customer_value']

### Adım 3: Hesapladığınız metrikleri rfm isimli bir değişkene atayınız.

In [46]:
rfm = data_copy[['master_id', 'recency', 'frequency', 'monetary']]

### Adım 4: Oluşturduğunuz metriklerin isimlerini recency, frequency ve monetary olarak değiştiriniz.

In [47]:
rfm.columns = ['master_id', 'recency', 'frequency', 'monetary']
rfm.head()

                              master_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95      5.000   939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105     21.000  2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f      186      5.000   585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f      135      2.000   121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86      2.000   209.980

## Görev 3: RF Skorunun Hesaplanması

### Adım 1: Recency, Frequency ve Monetary metriklerini qcut yardımı ile 1-5 arasında skorlara çeviriniz.

In [50]:
recency_score = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
frequency_score = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
monetary_score = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

### Adım 2: Bu skorları recency_score, frequency_score ve monetary_score olarak kaydediniz.

In [53]:
rfm.loc[:, 'recency_score'] = recency_score
rfm.loc[:, 'frequency_score'] = frequency_score
rfm.loc[:, 'monetary_score'] = monetary_score
rfm[['recency_score', 'frequency_score', 'monetary_score']].head()

  recency_score frequency_score monetary_score
0             3               4              4
1             3               5              5
2             2               4              3
3             3               1              1
4             3               1              1

In [54]:
rfm.loc[:, 'RF_SCORE'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str)
rfm[['recency_score', 'frequency_score', 'RF_SCORE']].head()

/var/folders/6l/1689rrm975gddmrdvvsjk0g80000gn/T/ipykernel_22485/849629637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfm.loc[:, 'RF_SCORE'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str)

  recency_score frequency_score RF_SCORE
0             3               4       34
1             3               5       35
2             2               4       24
3             3               1       31
4             3               1       31

## Görev 4: RF Skorunun Segment Olarak Tanımlanması

### Adım 1: Oluşturulan RF skorları için segment tanımlamaları yapınız.

In [55]:
# Segment tanımlamalarını içeren bir sözlük oluşturma
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

### Adım 2: Aşağıdaki seg_map yardımı ile skorları segmentlere çeviriniz.

In [57]:
# RF_SCORE'u seg_map yardımıyla segmentlere çevirme
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

/var/folders/6l/1689rrm975gddmrdvvsjk0g80000gn/T/ipykernel_22485/1997018979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [58]:
# Sonuçları kontrol etme
rfm[['RF_SCORE', 'segment']].head()

  RF_SCORE          segment
0       34  loyal_customers
1       35  loyal_customers
2       24          at_Risk
3       31   about_to_sleep
4       31   about_to_sleep

## 5: Aksiyon Zamanı!

### Adım1: Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.

In [59]:
segment_analysis = rfm.groupby("segment").agg({
    "recency": "mean",
    "frequency": "mean",
    "monetary": "mean"
})
segment_analysis

                     recency  frequency  monetary
segment
about_to_sleep       113.785      2.401   359.009
at_Risk              241.607      4.472   646.610
cant_loose           235.444     10.698  1474.468
champions             17.107      8.934  1406.625
hibernating          247.950      2.394   366.267
loyal_customers       82.595      8.375  1216.819
need_attention       113.829      3.728   562.143
new_customers         17.918      2.000   339.956
potential_loyalists   37.156      3.304   533.184
promising             58.921      2.000   335.673

### Adım 2: Müşteri Profilleri ve CSV Dosyalarına Kaydetme

#### Case a: Kadın kategorisinden alışveriş yapan sadık müşteriler (champions, loyal_customers)

In [68]:
# Sadık müşteriler (champions, loyal_customers) ve kadın kategorisinden alışveriş yapanları filtreleme
female_customers = data[(rfm['segment'].isin(['champions', 'loyal_customers'])) & 
                        (data['interested_in_categories_12'].apply(lambda x: 'KADIN' in x))]

# Müşteri ID'lerini CSV dosyasına kaydetme
female_customers[['master_id']].to_csv('female_customers.csv', index=False)

# Dosya kaydedildi
print("female_customers.csv dosyasına kaydedildi.")

female_customers.csv dosyasına kaydedildi.

In [70]:
# Kaydedilen CSV dosyasını okuyup ekranda göstermek
female_customers_ids = pd.read_csv('female_customers.csv')
print(female_customers_ids.head())

                              master_id
0  cc294636-19f0-11eb-8d74-000d3a38a36f
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
2  cfbda69e-5b4f-11ea-aca7-000d3a38a36f
3  c2e15af2-9eed-11e9-9897-000d3a38a36f
4  fb840306-1219-11ea-a001-000d3a38a36f

#### Case b: Erkek ve Çocuk kategorilerinde geçmişte iyi müşteri olan ama uzun süredir alışveriş yapmayanlar

In [73]:
# Erkek ve çocuk ürünlerinde indirim planına uygun müşterileri filtreleme
male_child_customers = data[(rfm['segment'].isin(['cant_loose', 'about_to_sleep', 'new_customers'])) & 
                            (data['interested_in_categories_12'].apply(lambda x: any(k in x for k in ['ERKEK', 'COCUK'])))]

# Müşteri ID'lerini CSV dosyasına kaydetme
male_child_customers[['master_id']].to_csv('male_child_customers.csv', index=False)

# Dosya kaydedildi
print("male_child_customers.csv dosyasına kaydedildi.")

male_child_customers.csv dosyasına kaydedildi.

In [74]:
# Kaydedilen CSV dosyasını okuyup ekranda göstermek
male_child_customers_ids = pd.read_csv('male_child_customers.csv')
print(male_child_customers_ids.head())

                              master_id
0  1854e56c-491f-11eb-806e-000d3a38a36f
1  13ed97a4-b167-11e9-89fa-000d3a38a36f
2  4fbb0cbe-9085-11ea-af25-000d3a38a36f
3  1acf7870-87af-11ea-ace9-000d3a38a36f
4  92a334ee-58f2-11eb-9e65-000d3a38a36f